APP_PORT=
APP_MODE=
APP_ORIGINS=

AUTH_TOKEN_SECRET=
AUTH_ACCESS_TOKEN_TTL=
AUTH_REFRESH_TOKEN_TTL=

DB_POSTGRES_USER=
DB_POSTGRES_PASSWORD=
DB_POSTGRES_HOST=
DB_POSTGRES_PORT=
DB_POSTGRES_DB=

CACHE_REDIS_PASSWORD=
CACHE_REDIS_HOST=
CACHE_REDIS_PORT=
CACHE_REDIS_DB=

LOG_LEVEL=
LOG_PATH=
LOG_MAX_SIZE_MB=
LOG_MAX_BACKUPS=
LOG_MAX_AGE_DAYS=
LOG_COMPRESS=
